extends layout

block content
	h1= title
	p Welcome to #{title}
		video(id='example_video_1', class='video-js vjs-default-skin', controls, preload='none', width='640', height='264', poster='http://video-js.zencoder.com/oceans-clip.png', data-setup='{}' )
			source(src='#{url_video}', type='video/mp4')
			source(src="#{url_video}",type='video/webm')
			source(src="#{url_video}",type='video/ogg')

